*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Log Files
*.txt
!CMakeLists.txt

# APK Files
*.apk
*.ap_
*.aab

# OS Files
.DS_Store

# Module specific rules
app/build/
model_download/*.bin
model_download/*.weight
model_download/*.mnn
model_download/*.json
